.game {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 1300px;
    height: 100%;
    min-height: 700px;
}

.game.active {
    animation: floatIn 0.8s forwards ease-in-out;
    display: flex;
}

.player_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: clamp(200px, 30%, 40%);
    min-width: 200px;
    width: 25%;
    max-width: 250px;
    color: var(--font-color);
    font-family: "VT323", monospace;
    position: relative;
    overflow: hidden;
}

.player_info.left {
    border-radius: 25px 0px 0px 25px;
    right: -2px;
}

.player_info.right {
    border-radius: 0px 25px 25px 0px;
    left: -2px;
}

.player_title {
    border-bottom: 2px solid var(--font-color);
    font-size: 1.5rem;
}

.player_name {
    font-size: 4rem;
}

.board {
    position: relative;
    height: clamp(700px, 90%, 900px);
    z-index: 10;
    border-radius: 2rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.score {
    position: absolute;
    top: 20px;
    width: clamp(50%, 50%, 550px);
    display: flex;
    gap: 20px;
    justify-content: center;
}
.score_display {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--font-color);
    font-size: 2rem;
    font-family: "VT323", monospace;
    width: 2.5rem;
    height: 2.5rem;
}

.score_display::before {
    position: absolute;
    font-size: 2.5rem;
    content: "<  >";
    opacity: 0.2;
    display: block;
}
.reset {
    position: absolute;
    bottom: 20px;
    font-size: 1.5rem;
    opacity: 0.3;
    cursor: pointer;
}

.reset:hover {
    opacity: 1;
}

.ff {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    font-size: 2.5rem;
    background-color: white;
    color: black;
    cursor: pointer;
}

.player_info:hover .ff {
    display: flex;
    animation: fadeIn 0.4s ease-in forwards;
}

.grid {
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    cursor: pointer;
    font-family: "VT323", monospace;
    fill: var(--font-color);
}

.line-top {
    border-top: 2px solid rgba(255, 255, 255, 0.3);
}

.line-left {
    border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.token {
    font-size: 13rem;
}
