.player-menu {
    border-radius: 25px;
    width: clamp(900px, 50%, 1000px);
    align-items: center;
    display: none;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    color: var(--font-color);
}

.player-menu.active {
    animation: floatIn 0.8s forwards ease-in;
    display: flex;
}

.singlePlayer {
    /* todo */
}

.multiPlayer {
    display: flex;
    align-items: center;
}

.multiPlayer .versus {
    font-size: 4rem;
}

.multiPlayer .player_section {
    min-width: 400px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.multiPlayer h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.multiPlayer h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.multiPlayer input[type="text"] {
    width: clamp(200px, 30%, 40%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: var(--font-color);
    font-family: "VT323", monospace;
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 2px solid var(--font-color);
    margin-bottom: 40px;
}

.token_container {
    margin-bottom: 40px;
    display: flex;
    gap: 20px;
}

.multiPlayer input[type="radio"] {
    position: absolute;
    cursor: pointer;

    opacity: 0;
    height: 0;
    width: 0;
}

.token_icon {
    border: 2px solid var(--font-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;
}
.token_icon path {
    fill: var(--font-color);
}

.token_icon:hover {
    opacity: 1;
}

input:checked ~ .token_icon {
    background-color: var(--font-color);
    opacity: 1;
}

input:checked ~ .token_icon path {
    fill: black;
}
