@import "./utilities/animations";
@import "./utilities/mixins";

.player-menu {
    @include glass_effect;
    @include blur_effect;

    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    color: var(--font-color);
    padding: 40px;

    &.player-menu-pve {
        flex-direction: column;
        justify-content: center;

        width: clamp(350px, 25%, 1000px);
    }

    &.player-menu-pvp {
        flex-direction: row;
        width: clamp(900px, 50%, 1000px);
        justify-content: space-evenly;
    }

    &.moveIn {
        animation: floatIn var(--animation-duration) forwards ease-in;
    }
    &.moveOut {
        animation: floatOut var(--animation-duration) forwards ease-in;
    }
    &.inactive {
        display: none;
    }

    .versus {
        font-size: 4rem;
    }

    .start-game_btn {
        border: 2px solid var(--font-color);
        opacity: 0.5;
        padding: 0.8rem 1rem;

        &:hover {
            opacity: 1;
            background-color: var(--font-color);
            color: var(--background-color);
        }
    }
}

.center_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 40px;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    input[type="text"] {
        width: clamp(200px, 30%, 40%);
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: var(--font-color);
        font-family: "VT323", monospace;
        font-size: 2.5rem;
        text-align: center;
        border-bottom: 2px solid var(--font-color);
        margin-bottom: 40px;
    }

    input[type="radio"] {
        position: absolute;
        cursor: pointer;

        opacity: 0;
        height: 0;
        width: 0;
    }

    .alert {
        color: red;
        font-size: 1.3rem;
        margin-bottom: 20px;
    }
}

.token_container {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;

    .row {
        display: flex;
        width: 100%;
    }
}

.token_icon {
    border: 2px solid var(--font-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    path {
        fill: var(--font-color);
    }
}

input:checked ~ .token_icon {
    background-color: var(--font-color);
    opacity: 1;
}

input:checked ~ .token_icon path {
    fill: black;
}
