.start-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: calc(40vh + 10vw);
    &.moveIn {
        animation: fadeIn var(--animation-duration) forwards ease-in;
    }
    &.moveOut {
        animation: fadeOut var(--animation-duration) forwards ease-in;
    }
    &.inactive {
        display: none;
    }
}

.start-menu button {
    font-size: clamp(2rem, 1rem + 2vw, 3rem);
    cursor: pointer;
    display: block;
    background-color: inherit;
    border: none;
    color: inherit;
    font-family: "VT323", monospace;
    margin-bottom: 20px;

    &:hover {
        color: white;
        &::before {
            display: inline;
        }
    }

    &::before {
        content: "> ";
        display: none;
    }
}

// @media (max-width: 370px) {
//     .start-menu {
//         top: 50vh;
//     }
// }
