.start-menu {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 20%;

    &.active {
        display: flex;
    }

    &.inactive {
        display: none;
    }
}

.start-menu button {
    font-size: 2.5rem;
    cursor: pointer;
    display: block;
    background-color: inherit;
    border: none;
    color: inherit;
    font-family: "VT323", monospace;
    margin-bottom: 20px;

    &:hover {
        color: white;
        &::before {
            display: inline;
        }
    }

    &::before {
        content: "> ";
        display: none;
    }
}
