@import "./utilities/animations";
@import "./utilities/mixins";

.result_container {
    top: 0;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    &.inactive {
        display: none;
    }
}

.result_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    &.inactive {
        display: none;
    }
    &.moveIn {
        animation: fadeIn var(--animation-duration) forwards ease-in;
    }
    &.moveOut {
        animation: fadeOut var(--animation-duration) forwards ease-in-out;
    }
}

.result {
    @include glass_effect;
    @include blur_effect;

    box-sizing: border-box;
    border-left: none;
    border-right: none;
    height: clamp(200px, 30%, 300px);
    width: 100%;
    padding: 50px;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &.moveIn {
        animation: fadeIn var(--animation-duration) forwards ease-in;
    }
    &.moveOut {
        animation: fadeOut var(--animation-duration) forwards ease-in-out;
    }
    &.inactive {
        display: none;
    }
}
