@import "./global";
@import "./background";
@import "./game-board";
@import "./game-playerMenu";
@import "./game-result";
@import "./game-startMenu";

@import "./utilities/animations";
@import "./utilities/mixins";

.game_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.block-overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 99;

    &.active {
        display: block;
    }
}
