:root {
  --primamry-color: red;
  --secondary-color: blue;
  --background-color: #1b1b1b;
  --background-font-color: #acacac;
  --font-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "VT323", monospace;
  color: var(--font-color);
  background-color: var(--background-color);
  color: var(--background-font-color);
  font-family: "VT323", monospace;
  width: 100%;
  min-width: 1300px;
  height: 100%;
  min-height: 700px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -999;
  overflow: hidden;
}

.title {
  z-index: -1;
  position: absolute;
  text-align: center;
  font-size: 30vh;
  transform: translateY(-20%);
  transition: transform 0.5s ease-out;
}

.title.center {
  transform: translateY(0);
}

input[type=text]:focus {
  outline: none;
}

button {
  background-color: rgba(0, 0, 0, 0);
  color: var(--font-color);
  font-family: "VT323", monospace;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.glass_effect {
  background: rgba(0, 0, 0, 0.49);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.blur {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.block-overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.block-overlay.active {
  display: block;
}

.version {
  position: absolute;
  bottom: 0px;
  margin-bottom: 10px;
  z-index: -1;
}

@keyframes floatIn {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes floatOut {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(300px);
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes floatOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}
@keyframes floatInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes floatOutRight {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}
@keyframes floatInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes cell {
  100% {
    fill: var(--background-color);
    background-color: var(--font-color);
    border-color: var(--background-color);
  }
}
.game {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 1300px;
  height: 100%;
  min-height: 700px;
}

.game.active {
  animation: floatIn 0.8s forwards ease-in-out;
  display: flex;
}

.game.inactive {
  animation: floatOut 0.5s forwards ease-in-out;
}

.player_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: clamp(200px, 30%, 40%);
  min-width: 200px;
  width: 25%;
  max-width: 250px;
  color: var(--font-color);
  font-family: "VT323", monospace;
  position: relative;
}

.player_info.left {
  border-radius: 25px 0px 0px 25px;
  right: -2px;
}

.player_info.right {
  border-radius: 0px 25px 25px 0px;
  left: -2px;
}

.player_title {
  border-bottom: 2px solid var(--font-color);
  font-size: 1.5rem;
}

.player_name {
  font-size: 4rem;
}

.player_token {
  box-sizing: border-box;
  padding: 10%;
  position: absolute;
  opacity: 0.05;
  fill: var(--font-color);
  z-index: -1;
}

.board {
  position: relative;
  height: clamp(700px, 90%, 900px);
  z-index: 10;
  border-radius: 2rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.score {
  position: absolute;
  top: 20px;
  width: clamp(50%, 50%, 550px);
  display: flex;
  gap: 20px;
  justify-content: center;
}

.score_display {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: var(--font-color);
  fill: var(--font-color);
  font-size: 2rem;
  font-family: "VT323", monospace;
  width: 2.5rem;
  height: 2.5rem;
}

.score_display::before {
  position: absolute;
  font-size: 2.5rem;
  content: "<  >";
  opacity: 0.2;
  display: block;
}

.reset {
  position: absolute;
  bottom: 20px;
  font-size: 1.5rem;
  opacity: 0.3;
  cursor: pointer;
}

.reset:hover {
  opacity: 1;
}

.ff {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  background-color: white;
  color: black;
  cursor: pointer;
}

.left .ff {
  border-radius: 25px 0px 0px 25px;
}

.right .ff {
  border-radius: 0px 25px 25px 0px;
}

.turn-indicator {
  fill: var(--font-color);
  width: 25%;
  position: absolute;
  top: -55px;
  font-size: 1.5rem;
  white-space: nowrap;
  display: none;
  justify-content: center;
}

.turn-indicator span {
  position: absolute;
  bottom: 75px;
}

.turn-indicator.active {
  display: flex;
}

.left .turn-indicator.active {
  animation: floatInRight 0.3s ease-out forwards;
}

.right .turn-indicator.active {
  animation: floatInLeft 0.3s ease-out forwards;
}

.left .turn-indicator.inactive {
  animation: floatOutRight 0.3s ease-in forwards;
}

.right .turn-indicator.inactive {
  animation: floatOutLeft 0.3s ease-in forwards;
}

.player_info:hover .ff {
  display: flex;
  animation: fadeIn 0.4s ease-in forwards;
}

.player_info:hover .turn-indicator {
  animation: fadeOut 0.4s ease-in forwards;
}

.grid {
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-template-rows: repeat(3, minmax(150px, 1fr));
}

.cell {
  cursor: pointer;
  font-family: "VT323", monospace;
  fill: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.cell.highlight {
  animation: cell 1s forwards;
}

.line-top {
  border-top: 2px solid rgba(255, 255, 255, 0.3);
}

.line-left {
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.token {
  font-size: 13rem;
}

.start-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 60%;
}

.start-menu.inactive {
  display: none;
}

.start-menu button {
  font-size: 2.5rem;
  cursor: pointer;
  display: block;
  background-color: inherit;
  border: none;
  color: inherit;
  font-family: "VT323", monospace;
  margin-bottom: 20px;
}

.start-menu button:hover {
  color: white;
}

.start-menu button:hover::before {
  display: inline;
}

.start-menu button::before {
  content: "> ";
  display: none;
}

.player-menu {
  position: absolute;
  border-radius: 25px;
  width: clamp(900px, 50%, 1000px);
  align-items: center;
  display: none;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  color: var(--font-color);
}

.player-menu.active {
  animation: floatIn 0.5s forwards ease-in;
  display: flex;
}

.player-menu.inactive {
  animation: floatOut 0.5s forwards ease-in;
}

.player-menu .alert {
  color: red;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.singlePlayer {
  /* todo */
}

.multiPlayer {
  display: flex;
  align-items: center;
}

.multiPlayer .versus {
  font-size: 4rem;
}

.multiPlayer .player_section {
  min-width: 400px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.multiPlayer h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.multiPlayer h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.multiPlayer input[type=text] {
  width: clamp(200px, 30%, 40%);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: var(--font-color);
  font-family: "VT323", monospace;
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 2px solid var(--font-color);
  margin-bottom: 40px;
}

.token_container {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.multiPlayer input[type=radio] {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}

.token_icon {
  border: 2px solid var(--font-color);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  cursor: pointer;
}

.token_icon path {
  fill: var(--font-color);
}

.token_icon:hover {
  opacity: 1;
}

input:checked ~ .token_icon {
  background-color: var(--font-color);
  opacity: 1;
}

input:checked ~ .token_icon path {
  fill: black;
}

.result_container {
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
}

.result_container.active {
  display: flex;
}

.result_overlay {
  animation: fadeIn 1s forwards ease-in;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.6;
}

.result {
  box-sizing: border-box;
  border-left: none;
  border-right: none;
  height: clamp(200px, 30%, 300px);
  width: 100%;
  padding: 50px;
  font-size: 2.5rem;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fadeIn 1s forwards ease-in;
}

.inactive .result,
.inactive .result_overlay {
  animation: fadeOut 0.5s forwards ease-in-out;
}

.result--win.active {
  display: flex;
}

.result--tie.active {
  display: flex;
  font-size: 5rem;
}

.winner_name {
  font-size: 5rem;
}

/*# sourceMappingURL=style.css.map */
