@keyframes floatIn {
    0% {
        transform: translateY(calc(var(--original-height) + 300px));
        opacity: 0;
    }
    100% {
        // transform: translateY(var(--original-height));
        opacity: 1;
    }
}

@keyframes floatOut {
    0% {
        transform: translateY(var(--original-height));
        opacity: 1;
    }
    100% {
        transform: translateY(cacl(var(--original-height) - 300px));
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes floatOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(-100px);
    }
}

@keyframes floatInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes floatOutRight {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(100px);
    }
}

@keyframes floatInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes cell {
    0% {
    }
    100% {
        fill: var(--background-color);
        background-color: var(--font-color);
        border-color: var(--background-color);
    }
}
